/* LOGIN STUFF */
.wrapper-login {
    display: flex;
    align-items: stretch;
}

#sidebar-login {
    min-width: 246px;
    max-width: 246px;
    background: #37474F;
    color: #fff;
    box-shadow: 2px 0 4px #888;
    border-bottom: 1px dotted #2E2E2E;
}

#sidebar-login .sidebar-header {
    padding: 12px;
    background: darken(#37474F, 2%);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    img {
        width: 50%;
    }
}

#sidebar-login .sidebar-content {
    min-height: 432px;
}

#sidebar-login footer {

    //margin: 0;
    padding: 14px 0 13px 0;
    border-bottom: 1px dotted #2E2E2E;
    border-top: 1px dotted #2E2E2E;

    p {
        margin: 0;
        font-size: 0.8em;
        padding-left: 9px;
        padding-bottom: 6px;
        color: #e0e0e0;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);

        a {
            color: #fff;
            text-decoration: underline;
        }
    }
    /*
    p:first-child {
        padding-top: 16px;
    }
    p:nth-child(3) {
        padding-bottom: 16px;
    }
    */
}

#content-login {
    padding: 20px;
    min-height: 100vh;
    width: 100%;
}

#main-login {
    h4 {
        text-align: center;
        margin-bottom: 18px;
    }
    .form-check {
        margin-top: 23px;
    }
    a {
        text-decoration: underline;
        color: #00796b;
    }
}

.card.card-cascade .view.gradient-card-header {
    padding: 1.6rem 1rem;
    color: #fff;
    text-align: center;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}

.green-gradient {
    background: -webkit-linear-gradient(60deg, lighten(#8bc34a, 2%), darken(#8bc34a, 23%)) !important;
    background: linear-gradient(60deg, lighten(#8bc34a, 2%), darken(#8bc34a, 23%)) !important;
}

.card.card-cascade .view {
    border-radius: .25rem;
}
/* END LOGIN STUFF */

.navbar {
    margin-bottom: .375rem;;
    background-color: #8bc34a;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
    cursor: pointer;
}

.msg {
    padding: 7px;
    font-size: 1em;
    margin-bottom: .375rem;
    border: 0;
    border-radius: .125rem;
    white-space: normal;
    word-wrap: break-word;
    color: #fff !important;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.msg ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.msg a {
    text-decoration: underline;
}

.msg-success {
    background-color: #00796b;
}
.msg-info {
    background-color: #0099CC;
    a {
        color: #e1f5fe;
    }
}
.msg-warning {
    background-color: #FF8800;
    a {
        color: #fff3e0;
    }
}

.msg-danger-dark {
    background-color: #CC0000;
    a {
        color: #ffebee;
    }
}

.msg-danger {
    background-color: #ff4444;
}

.errors {
    margin-top: 20px;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    //align-items: stretch;
    //perspective: 1500px;
}

#sidebar {
    min-width: 246px;
    max-width: 246px;
    background: #37474F;
    color: #fff;
    transition: all 0.6s /*cubic-bezier(0.945, 0.020, 0.270, 0.665)*/;
    //transform-origin: bottom left;
    box-shadow: 2px 0 4px #888;
}

#sidebar.active {
    margin-left: -246px;
}

#sidebar .sidebar-header {
    padding: 12px;
    background: darken(#37474F, 2%);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    img {
        width: 50%;
    }
}

#sidebar ul.components {
    padding: 12px 0;
    border-bottom: 1px dotted #2E2E2E;
}

#sidebar ul.components li a {
	color: #fff;
    padding: 10px;
    display: block;
}

#sidebar ul.components li ul {
    box-shadow: inset 0 0 2px #263238;
}

#sidebar ul.components li a:hover {
    //color: #fff;
    background: #00796b;
}

#sidebar ul.components li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: darken(#b8d532, 15%);
}

#sidebar footer {

    padding-bottom: 13px;

    //margin: 0;
    border-bottom: 1px dotted #2E2E2E;

    p {
        margin: 0;
        font-size: 0.8em;
        padding-left: 9px;
        padding-bottom: 6px;
        color: #e0e0e0;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);

        a {
            color: #fff;
            text-decoration: underline;
        }
    }
    /*
    p:first-child {
        padding-top: 13px;
    }

    p:nth-child(3) {
        padding-bottom: 13px;
    }
    */
}

#sidebar {
    aside {
        //margin: 0;
        padding-left: 9px;
        //padding-bottom: 0;
        margin-bottom: 13px;
        border-bottom: 1px dotted #2E2E2E;

        a {
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
            color: lighten(#8bc34a, 18%);
            text-decoration: underline;
        }
        a:hover {
            text-shadow: 1px 1px 1px rgba(50, 50, 50, 0.4);
            color: #8bc34a;
        }
    }
}

#content {
    padding: 20px;
    min-height: 100vh;
    /*transition: all 0.3s;*/
    width: 100%;
    overflow: hidden;
}

#sidebar-collapse {
    width: 43px;
    height: 43px;
    background: #00796b;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    border-radius: .125rem;
}

#sidebar-collapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #fff;
    transition: all 0.2s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebar-collapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebar-collapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebar-collapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}

.jumbotron {

    h4 {
        border-bottom: 1px dotted #e0e0e0;
        margin-bottom: 10px;
    }

    h5 {
        color: #4B515D;
    }

    .msg {
        width: 100%;
    }

    hr {
        border: 0;
        height: 1px;
        border-bottom: 1px dotted #e0e0e0;
    }

    table {
        thead tr th {
            font-weight: bold;
        }
    }

    .pins {
        .btn {

            img {
                width: 100%;
            }
            p {
                margin: 0;
                padding-top: 8px;
                min-height: 42px;
            }
        }
    }

    form {

        .form-check {
            margin-top: 10px;
            padding-left: 0;
        }

        input[type="checkbox"], input[type="radio"]{
            position: absolute;
            right: 9000px;
        }
        /* Check box */
        input[type="checkbox"] + .label-text:before{
            content: "\f096";
            font-family: "FontAwesome";
            speak: none;
            font-size: 25px;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing:antialiased;
            width: 1em;
            display: inline-block;
            margin-right: 5px;
        }
        input[type="checkbox"]:checked + .label-text:before{
            content: "\f14a";
            color: #00796b;
            animation: effect 250ms ease-in;
        }
        input[type="checkbox"]:disabled + .label-text{
            color: #aaa;
        }
        input[type="checkbox"]:disabled + .label-text:before{
            content: "\f0c8";
            color: #ccc;
        }

        label {
            font-size: .9rem;
            color: #757575;
        }

        ::placeholder {
            color: #bdbdbd;
            opacity: 1; /* Firefox */
        }

        :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: #bdbdbd;
        }

        ::-ms-input-placeholder { /* Microsoft Edge */
            color: #bdbdbd;
        }

        input[type="text"], select {
            color: #263238;
        }

        select {
            border-color: #e0e0e0;
        }

        button {
            text-transform: uppercase;
        }
    
    }

    form.vl-form {

        div.input-group-prepend > span {
            width: 60px;
        }

        span.input-group-text, 
            input[type="text"], 
            input[type="number"], 
            select {
            font-size: 2.2em;
        }

        select {
            min-height: 53px;
        }
    }

    form.vl-form2 {
        label {
            margin: 0;
        }

        input[type="text"], input[type="date"], input[type="time"] {
            border-color: #e0e0e0;
        }
    }

    pre.printableTicket {
        font-family: monospace;
        font-size: 9pt;
        width: 6.5cm; /* Ancho maximo de impresion */
        border: #666666 dotted thin;
        padding-bottom: 1.25cm;
        padding-top: 0.75cm;
        padding-left: 0.3cm;
        line-height: 1;
        margin: 0;
        box-sizing: content-box;
        color: #000;
    }

}

#main div .msg {
    margin-left: 0;
    margin-right: 0;
}

#mensaje {
    position: absolute;
    z-index: 999;
    top: 46px;
    right: 16px;
    min-width: 100%;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: .4;
  }
}
#main div:nth-child(2) .msg {
    float: right;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {

    /* LOGIN STUFF */
    .wrapper-login {
        display: inline;
    }

    #sidebar-login {
        min-width: 100%;
    }

    #sidebar-login .sidebar-header {
        img {
            width: 98px;
        }
    }

    #sidebar-login .sidebar-content {
        display: none;
    }

    #sidebar-login footer {
        display: none;
    }

    #main-login {
        .jumbotron {
            padding: 1rem 0;
        }
    }

    /* END LOGIN STUFF */

    .navbar-text{
        margin-left: -7px;
    }
    #sidebar {
        margin-left: -246px;
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebar-collapse span:first-of-type,
    #sidebar-collapse span:nth-of-type(2),
    #sidebar-collapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebar-collapse.active span {
        margin: 0 auto;
    }
    #sidebar-collapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebar-collapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebar-collapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
    /*
    #main div .btn {
        font-size: 0.8em;
    }
    #main div:nth-child(2) .btn {
        float: left;
    }
    */

    #main div:nth-child(1) .msg {
        width: 100%;
    }

    #mensaje {
        position: static;
        
        //float: left;
    }

    /*
    #main div:nth-child(2) .msg {
        float: right;
    }
    */

    .jumbotron {

        form {
            button {
                width: 100%;
            }
        }

        form.vl-form {

            span.input-group-text, 
                input[type="text"], 
                input[type="number"], 
                select {
                    font-size: 1.4rem;
            }

            img {
                margin: auto;
            }
        }

        .pins {
            .btn {
                padding: .6rem 1rem;

                p {
                    width: 100%;
                    padding-top: 4px;
                }
            }
        }
    }

}
